{{ partial "header.html" . }}
<section id="hero" class="post">
    <div id="postinfo">
        Projects
    </div>
</section>
<section id="content">
    <ul class="projectlist">
        {{ range .Pages }}
        <li>
            {{ $img := .Resources.GetMatch "images/thumb.jpg" }}

            <a href="{{.Permalink}}">
                <div class="proj" style="background: url({{ $img.RelPermalink }})">
                    <div class="projtitle">{{.Title}}</div>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ partial "footer.html" . }}