/* Background */ .chroma { background-color: #eeeedd }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #8b008b; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #8b008b; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #8b008b; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #8b008b; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #8b008b; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #8b008b; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #00688b; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #658b00 }
/* NameBuiltin */ .chroma .nb { color: #658b00 }
/* NameClass */ .chroma .nc { color: #008b45; font-weight: bold }
/* NameConstant */ .chroma .no { color: #00688b }
/* NameDecorator */ .chroma .nd { color: #707a7c }
/* NameException */ .chroma .ne { color: #008b45; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #008b45 }
/* NameNamespace */ .chroma .nn { color: #008b45; text-decoration: underline }
/* NameTag */ .chroma .nt { color: #8b008b; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #00688b }
/* LiteralString */ .chroma .s { color: #cd5555 }
/* LiteralStringAffix */ .chroma .sa { color: #cd5555 }
/* LiteralStringBacktick */ .chroma .sb { color: #cd5555 }
/* LiteralStringChar */ .chroma .sc { color: #cd5555 }
/* LiteralStringDelimiter */ .chroma .dl { color: #cd5555 }
/* LiteralStringDoc */ .chroma .sd { color: #cd5555 }
/* LiteralStringDouble */ .chroma .s2 { color: #cd5555 }
/* LiteralStringEscape */ .chroma .se { color: #cd5555 }
/* LiteralStringHeredoc */ .chroma .sh { color: #1c7e71; font-style: italic }
/* LiteralStringInterpol */ .chroma .si { color: #cd5555 }
/* LiteralStringOther */ .chroma .sx { color: #cb6c20 }
/* LiteralStringRegex */ .chroma .sr { color: #1c7e71 }
/* LiteralStringSingle */ .chroma .s1 { color: #cd5555 }
/* LiteralStringSymbol */ .chroma .ss { color: #cd5555 }
/* LiteralNumber */ .chroma .m { color: #b452cd }
/* LiteralNumberBin */ .chroma .mb { color: #b452cd }
/* LiteralNumberFloat */ .chroma .mf { color: #b452cd }
/* LiteralNumberHex */ .chroma .mh { color: #b452cd }
/* LiteralNumberInteger */ .chroma .mi { color: #b452cd }
/* LiteralNumberIntegerLong */ .chroma .il { color: #b452cd }
/* LiteralNumberOct */ .chroma .mo { color: #b452cd }
/* OperatorWord */ .chroma .ow { color: #8b008b }
/* Comment */ .chroma .c { color: #228b22 }
/* CommentHashbang */ .chroma .ch { color: #228b22 }
/* CommentMultiline */ .chroma .cm { color: #228b22 }
/* CommentSingle */ .chroma .c1 { color: #228b22 }
/* CommentSpecial */ .chroma .cs { color: #8b008b; font-weight: bold }
/* CommentPreproc */ .chroma .cp { color: #1e889b }
/* CommentPreprocFile */ .chroma .cpf { color: #1e889b }
/* GenericDeleted */ .chroma .gd { color: #aa0000 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: #000080; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #00aa00 }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }

/* Background */ html.dark .chroma { color: #f8f8f2; background-color: #282a36 }
/* LineTableTD */ html.dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ html.dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ html.dark .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ html.dark .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ html.dark .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ html.dark .chroma .k { color: #ff79c6 }
/* KeywordConstant */ html.dark .chroma .kc { color: #ff79c6 }
/* KeywordDeclaration */ html.dark .chroma .kd { color: #8be9fd; font-style: italic }
/* KeywordNamespace */ html.dark .chroma .kn { color: #ff79c6 }
/* KeywordPseudo */ html.dark .chroma .kp { color: #ff79c6 }
/* KeywordReserved */ html.dark .chroma .kr { color: #ff79c6 }
/* KeywordType */ html.dark .chroma .kt { color: #8be9fd }
/* NameAttribute */ html.dark .chroma .na { color: #50fa7b }
/* NameBuiltin */ html.dark .chroma .nb { color: #8be9fd; font-style: italic }
/* NameClass */ html.dark .chroma .nc { color: #50fa7b }
/* NameFunction */ html.dark .chroma .nf { color: #50fa7b }
/* NameLabel */ html.dark .chroma .nl { color: #8be9fd; font-style: italic }
/* NameTag */ html.dark .chroma .nt { color: #ff79c6 }
/* NameVariable */ html.dark .chroma .nv { color: #8be9fd; font-style: italic }
/* NameVariableClass */ html.dark .chroma .vc { color: #8be9fd; font-style: italic }
/* NameVariableGlobal */ html.dark .chroma .vg { color: #8be9fd; font-style: italic }
/* NameVariableInstance */ html.dark .chroma .vi { color: #8be9fd; font-style: italic }
/* LiteralString */ html.dark .chroma .s { color: #f1fa8c }
/* LiteralStringAffix */ html.dark .chroma .sa { color: #f1fa8c }
/* LiteralStringBacktick */ html.dark .chroma .sb { color: #f1fa8c }
/* LiteralStringChar */ html.dark .chroma .sc { color: #f1fa8c }
/* LiteralStringDelimiter */ html.dark .chroma .dl { color: #f1fa8c }
/* LiteralStringDoc */ html.dark .chroma .sd { color: #f1fa8c }
/* LiteralStringDouble */ html.dark .chroma .s2 { color: #f1fa8c }
/* LiteralStringEscape */ html.dark .chroma .se { color: #f1fa8c }
/* LiteralStringHeredoc */ html.dark .chroma .sh { color: #f1fa8c }
/* LiteralStringInterpol */ html.dark .chroma .si { color: #f1fa8c }
/* LiteralStringOther */ html.dark .chroma .sx { color: #f1fa8c }
/* LiteralStringRegex */ html.dark .chroma .sr { color: #f1fa8c }
/* LiteralStringSingle */ html.dark .chroma .s1 { color: #f1fa8c }
/* LiteralStringSymbol */ html.dark .chroma .ss { color: #f1fa8c }
/* LiteralNumber */ html.dark .chroma .m { color: #bd93f9 }
/* LiteralNumberBin */ html.dark .chroma .mb { color: #bd93f9 }
/* LiteralNumberFloat */ html.dark .chroma .mf { color: #bd93f9 }
/* LiteralNumberHex */ html.dark .chroma .mh { color: #bd93f9 }
/* LiteralNumberInteger */ html.dark .chroma .mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */ html.dark .chroma .il { color: #bd93f9 }
/* LiteralNumberOct */ html.dark .chroma .mo { color: #bd93f9 }
/* Operator */ html.dark .chroma .o { color: #ff79c6 }
/* OperatorWord */ html.dark .chroma .ow { color: #ff79c6 }
/* Comment */ html.dark .chroma .c { color: #6272a4 }
/* CommentHashbang */ html.dark .chroma .ch { color: #6272a4 }
/* CommentMultiline */ html.dark .chroma .cm { color: #6272a4 }
/* CommentSingle */ html.dark .chroma .c1 { color: #6272a4 }
/* CommentSpecial */ html.dark .chroma .cs { color: #6272a4 }
/* CommentPreproc */ html.dark .chroma .cp { color: #ff79c6 }
/* CommentPreprocFile */ html.dark .chroma .cpf { color: #ff79c6 }
/* GenericDeleted */ html.dark .chroma .gd { color: #8b080b }
/* GenericEmph */ html.dark .chroma .ge { text-decoration: underline }
/* GenericHeading */ html.dark .chroma .gh { font-weight: bold }
/* GenericInserted */ html.dark .chroma .gi { font-weight: bold }
/* GenericOutput */ html.dark .chroma .go { color: #44475a }
/* GenericSubheading */ html.dark .chroma .gu { font-weight: bold }
/* GenericUnderline */ html.dark .chroma .gl { text-decoration: underline }

