{{ partial "header.html" . }}
<section id="hero" class="post">
    <div id="postinfo">
        Latest Posts
    </div>
</section>
<section id="content">
    {{ range .Pages }}
    <div class="summary">
        <h3>
            <a class="post" href="{{.Permalink}}">{{.Title}}</a>
        </h3>
        <p>{{.Date.Format "2006-01-02"}}</p>
        <p>{{ .Summary }}</p>
        <p><a href="{{ .RelPermalink }}">Read More...</a></p>
    </div>
    {{ end }}
    <br />
</section>
{{ partial "footer.html" . }}