{{ partial "header.html" . }}
<article>
    <div id="hero" class="post">
        <div id="postinfo">
            Latest Posts
        </div>
    </div>
    <div id="content">
        {{ range .Pages }}
        <a class="post" href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        <div class="summary">
            {{ .Summary }}
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More…</a>
            {{ end }}
        </div>
        {{ end }}
        <br />
    </div>
</article>
{{ partial "footer.html" . }}