<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta property="og:image" content="https://tonybox.net/img/fb.jpg" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:updated_time" content="{{.Date.Format "2006-01-02"}}" />
    {{ if isset .Params "description" }}
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta name="description" content="{{ .Params.description }}" />
    {{ end }}


    {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $style := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">


    <script type="text/javascript">

        window.onload = function () {
            //{{ if isset .Params "model" }}
            STLViewer("/models/{{ .Params.model }}", "model");
            //{{ end }}
        }
        function toggle_darkmode() {
            var newCookie = document.cookie == "cs=dark" ? "cs=light" : "cs=dark";
            var newColor = document.cookie == "cs=dark" ? "light" : "dark";
            document.cookie = newCookie;
            console.log(newCookie)
            document.documentElement.className = newColor;
        }
        function toggle_menu() {
            var menu = document.getElementById("menu");
            menu.className = (menu.className == "hidden") ? "shown" : "hidden"

        }
    </script>
    {{ if isset .Params "model" }}
    <script src="/plugins/stl/webgl.min.js"></script>
    <script src="/plugins/stl/three.min.js"></script>
    <script src="/plugins/stl/stlloader.min.js"></script>
    <script src="/plugins/stl/orbitcontrols.min.js"></script>
    <script src="/plugins/stl/stlviewer.js"></script>
    {{ end }}


    <title>{{ .Title }}</title>
</head>

<body>
    {{ partial "menu.html" . }}