<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $style := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width" />
    {{ if isset .Params "description" }}
    <meta name="description" content="{{ .Params.description }}" />
    <meta property="og:description" content="{{ .Params.description }}" />
    {{ else if .IsHome }}
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    {{ end }}
    <meta property="og:image" content="https://tonybox.net/img/fb.jpg" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:updated_time" content="{{.Date.Format "2006-01-02"}}" />
    {{ partial "scripts.html" . }}
    <title>{{ .Title }}</title>
</head>

<body>
    {{ partial "menu.html" . }}