<aside id="sidebar">
    <nav>
        <img src="https://tonybox.net/img/me.jpg" class="round">
        <div id="links">
            <a href="/"><strong>tonybox.net</strong></a>
            <br />
            <a href="/posts">posts</a>
            <a href="/posts/index.xml">rss</a>
            <a href="https://git.tonybox.net/">git repos</a>
            <a href="mailto:tonyb@tonybox.net">contact</a>
            <br />
            <a href="#" onclick="toggle_darkmode()">light/dark</a>
        </div>
    </nav>
</aside>