<aside id="sidebar">
    <nav>
        <img src="https://tonybox.net/img/me.jpg" class="round">
        <div id="links">
            <a href="#" onclick="toggle_menu()" id="mobilemenu">☰</a>
            <a href="/"><strong>tonybox.net</strong></a>
            <div id="menu" class="hidden">
                <br />
                <a href="/posts">posts</a>
                <a href="/posts/index.xml">rss feed</a>
                <a href="https://git.tonybox.net/">git repos</a>
                <a href="https://tonybox.net/pgp.asc">pgp key</a>
                <a href="/posts/contact/">contact</a>
                <br />
                <a href="#" onclick="toggle_darkmode()">light/dark</a>
            </div>
        </div>
    </nav>
</aside>