<aside id="sidebar">
    <nav>

        <picture class="round">
            <source srcset="/img/me.webp" type="image/webp">
            <source srcset="/img/me.jpg" type="image/jpeg">
            <img src="/img/me.jpg" class="round">
        </picture>

        <div id="links">
            <a href="#" onclick="toggle_menu()" id="mobilemenu">☰</a>
            <a href="/"><strong>{{ .Site.Title }}</strong></a>
            <div id="menu" class="hidden">
                <br />
                <a href="/posts">posts</a>
                <a href="/posts/index.xml">rss feed</a>
                <a href="https://github.com/tonyb486">git repos</a>
                <a href="https://tonybox.net/pgp.asc">pgp key</a>
                <a href="/posts/contact/">contact</a>
                <br />
                <a href="#" onclick="toggle_darkmode()">light/dark</a>
            </div>
        </div>
    </nav>
</aside>
