
    <script type="text/javascript">

        //{{ if in .Params.plugins "stlviewer" }}
        window.onload = function () {
            STLViewerEnable("stlviewer");
        }
        //{{ end }}

        // Mildly complicated dark mode logic, but it seems to work!
        function updateDarkMode(darkModePreference) {
            // Based on the user's preference, we decide if we want dark mode or not.
            // if the localstorage is set to "toggle," then we toggle it to the opposite of that preference.
            darkModeToggled = (localStorage.getItem("darkmode") == "toggle");
            document.body.className = (darkModeToggled ? !darkModePreference : darkModePreference) ? "dark" : null;
        }

        document.addEventListener('DOMContentLoaded', function() {
            darkMode = window.matchMedia('(prefers-color-scheme: dark)');
            darkMode.addListener(function(e) { updateDarkMode(e.matches); })
            updateDarkMode(darkMode.matches);
        });

        function toggle_darkmode() {
            var newToggle = ((localStorage.getItem("darkmode") == "toggle") ? "default" : "toggle")
            localStorage.setItem("darkmode", newToggle);
            updateDarkMode(window.matchMedia('(prefers-color-scheme: dark)').matches);
        }

        // Menu Toggle for Mobile
        function toggle_menu() {
            var menu = document.getElementById("menu");
            menu.className = (menu.className == "hidden") ? "shown" : "hidden"
        }
    </script>

    {{ if in .Params.plugins "threejs" }}
    <script src="/plugins/stl/webgl.min.js"></script>
    <script src="/plugins/stl/three.min.js"></script>
    <script src="/plugins/stl/stlloader.min.js"></script>
    <script src="/plugins/stl/orbitcontrols.min.js"></script>
    {{ end }}

    {{ if in .Params.plugins "stlviewer" }}
    <script src="/plugins/stl/stlviewer.js"></script>
    {{ end }}

    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//analytics.biondo.net/tracker.js', 'fathom');
    fathom('set', 'siteId', 'JOKUO');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->