    {{ $js := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

    {{ if in .Params.plugins "threejs" }}
    <script src="/plugins/stl/webgl.min.js"></script>
    <script src="/plugins/stl/three.min.js"></script>
    <script src="/plugins/stl/stlloader.min.js"></script>
    <script src="/plugins/stl/orbitcontrols.min.js"></script>
    {{ end }}

    {{ if in .Params.plugins "stlviewer" }}
    <script src="/plugins/stl/stlviewer.js"></script>
    {{ end }}