{{ partial "header.html" . }}

<main>
    <h1>Hi, I'm Tony.</h1>
    <p>I'm a tech lawyer from NYC. </p>
    <p>Here, I write about technology, computers, software, security, and how these things interact with society.
        Sometimes I'll also just write here for fun.
        In the past, I worked as a programmer and a systems administrator for linux clusters.
        I've still got the urge to tinker with technology, and here I will share my adventures. I hope you find it
        interesting.</p>
    <h3>Latest Posts:</h3>
    <ul>
        {{- range where .Site.RegularPages  ".Params.unlisted" "!=" "true" -}}

        <li>{{.Date.Format "2006-01-02"}}: <a href="{{.RelPermalink}}">{{.Title}}</a></li>

        {{ end }}
    </ul>
    {{ partial "footer.html" . }}
</main>
</body>

</html>