{{ partial "header.html" . }}

<main>
    <h1>Hi, I'm Tony.</h1>
    <p>I'm a tech lawyer from NYC. </p>
    <p>Here, I write about technology, computers, software, and how these things interact with society.
        In a past life, I worked as a programmer and a systems administrator for high performance computing systems.
        I've still got the urge to tinker with technology, and here I will share my adventures. I hope you find it
        interesting.</p>
    <h3>Latest Posts:</h3>
    <ul>
        {{ range .Pages }}
        <article>
            <li>{{.Date.Format "2006-01-02"}}: <a href="{{.Permalink}}">{{.Title}}</a></li>
        </article>
        {{ end }}
    </ul>
    {{ partial "footer.html" . }}
</main>
</body>